@charset 'utf-8';

/*#region Colors */

/*  HEX         RGB             HSL
    #000000     0,0,0           0,0%,0%
    #FFFFFF     255,255,255     0,0%,100%
    #555555     85,85,85        0,0%,33%
    #0055AA     0,85,170        210,100%,33%
    #00AAAA     0,170,170       180,100%,33%
    #AA8D00     170,141,0       50,100%,33%
    #432100     67,33,0         30,100%,13%
    #AA5500     170,85,0        30,100%,33%
    #FF8811     255,136,17      30,100%,53%
    #FFBB77     255,187,119     30,100%,73%
    #FFD4A8     255,212,168     30,100%,83%
    #FFEDDB     255,237,219     30,100%,93%
*/

/*#endregion*/

/*#region CSS Reset */

/** http://meyerweb.com/eric/tools/css/reset/ **/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/** html5 display-role reset for older browsers **/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*#endregion*/

/*#region Elements */

body {
    color: #432100;
    padding-top: 1em;
    background-repeat: no-repeat;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

nav {
    background-color: #432100;
    line-height: 2em;
}

nav h1 {
    display: none;
}

input {
    float: left;
    clear: left;
}

input {
    margin: 0.16em;
    padding: 0.25em;
    background-color: #ffbb77;
    color: #432100;
    border-color: #ff8811;
    outline: 0;
}

article,
section {
    background-color: #ffffff;
    padding: 1em;
    height: 21em;
    width: 44em;
}

footer {
    position: relative;
    background-color: #ffffff;
    padding-top: 23em;
}

footer p {
    font-family: arial;
    font-size: 0.75em;
    color: #0055aa;
    text-align: center;
}

a {
    color: #aa8d00;
    text-decoration: none;
}

a:hover {
    color: #0055aa;
}

nav a {
    font-size: 1.25em;
    padding-left: 1em;
}

nav a:hover {
    color: #ffbb77;
}

footer a {
    color: #0055aa;
}

footer p:after {
    content: "(standard)";
}

/*#endregion*/

/*#region IDs */
#contact {
    background-color: #FFFFFF;
}

#titles {
    background-color: #555555;
    padding-left: 1.5em;
    cursor: pointer;
}

#title {
    font-size: 6em;
    font-weight: bold;
}

#subtitle {
    font-size: 3em;
}

#content {
    position: relative;
    padding: 0;
    margin: auto;
    width: 46em;
}

#topics ul {
    position: relative;
    height: 8em;
    width: 98.5%;
    margin-top: 1em;
}

#topics li {
    text-align: center;
    padding: .50em;
    cursor: crosshair;
}

#topics li p {
    position: absolute;
    display: none;
    top: 10em;
    left: 2em;
}

/*#endregion*/

/*#region Fontface and Text Shadow */

@font-face {
    font-family: Aargh;
    src: url('../fonts/Aaargh-webfont.woff');
}

@font-face {
    font-family: 'DJ';
    src: url('../fonts/DJ-webfont.woff');
}

body {
    font-family: Aargh, Arial;
}

#title,
#subtitle {
    font-family: DJ, 'Script MT';
}

#title {
    text-shadow: 0.16em 0.16em 0.5em #AA5500;
}

h1,
h2 {
    text-shadow: 0.16em 0.16em 0.25em #AA5500;
}

nav a {
    text-shadow: 0.16em 0.16em 0.16em #FFBB77;
}

/*#endregion */

/*#region Selectors */

/*#topics li{
    background-color: #FFBB77;
}*/

/*#topics li:first-child{
    background-color: #FFBB77;
}

#topics li:last-child{
    background-color: #FFBB77;
}

#topics li:nth-child(3){
    background-color: #FFBB77;
}*/

#topics li:nth-child(3n) {
    background-color: #FFBB77;
}

#topics li:nth-child(3n-1) {
    background-color: #FFD4A8;
}

#topics li:nth-child(3n-2) {
    background-color: #FFEDDB;
}

#topics li h1 {
    font-size: 1em;
}

#topics li:hover {
    background-color: #432100;
    color: #FFEDDB;
}

#topics li:hover p {
    display: inherit;
    color: #AA5500;
}

article,
section,
#intro {
    position: absolute;
}

#intro {
    z-index: 1;
}

#content>*:not(:target, #intro) {
    z-index: -1;
}

:target {
    z-index: 2;
}

::selection {
    background-color: #FF8811;
    color: #FFFFFF;
}

:root {
    background-color: #432100;
}

:required {
    background-color: #FFEDDB;
}

:valid {
    background-color: #FFFFFF;
}

:invalid::-webkit-input-placeholder {
    color: #AA5500;
    font-style: italic;
}

:not([type=submit]):optional {
    border-style: dashed;
}

/*#endregion */

/*#region Layout */

#topics ul {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    -moz-column-gap: 0;
    -webkit-column-gap: 0;
    column-gap: 0;
}

#about {
    display: box;
    background: url(../images/css3logo.png) bottom left, url(../images/ManishPP.jpg) top right, #f7f5f5;
    background-repeat: no-repeat;
    background-size: auto, contain;
}

/*#endregion */

/*#region Borders */

input {
    border-radius: 1em;
}

#topics ul {
    border-radius: 2em;
}

#topics li:first-child {
    border-top-left-radius: 2em;
}

#topics li:last-child {
    border-bottom-right-radius: 2em;
}

#topics li:nth-child(4) {
    border-bottom-left-radius: 2em;
}

#topics li:nth-child(9) {
    border-top-right-radius: 2em;
}

#content {
    border-radius: 2em;
}

#titles {
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}

footer {
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
}

article,
section {
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
}

#topics ul {
    box-shadow: .5em .5em .5em #555555;
}

#content {
    box-shadow: 0 0 .5em #555555, 0.5em 0.5em 3em #0055AA, -0.25em 0 3em #0055AA;
}

/*#endregion */

/*#region Transformation */

#topics li:hover h1 {
    -moz-transform: scale(1.25) skew(20deg, -20deg);
    -ms-transform: scale(1.25) skew(20deg, -20deg);
    -o-transform: scale(1.25) skew(20deg, -20deg);
    -webkit-transform: scale(1.25) skew(20deg, -20deg);
    transform: scale(1.25) skew(20deg, -20deg);
    color: red;
}

/*#endregion */

/*#region Transition */

#title {
    -moz-transition: all 3s;
    -o-transition: all 3s;
    -webkit-transition: all 3s;
    transition: all 3s;
}

/*#endregion */

/*#region Colors */

nav a {
    /*color: transparent;*/
    color: rgba(0, 0, 0, 0);
}

#title {
    color: hsla(90, 50%, 50%, 1);
}

body {
    background: linear-gradient(#00AAAA, #432100);
}

.grad {
    background: linear-gradient(#FFFFFF, #00AAAA);
}

/*#endregion */

/*#region Media Queries */

@media screen and (max-width:800px),
(max-device-width:800px) {
    body {
        font-size: 85%;
    }

    #topics * {
        border-radius: 0 !important;
        box-shadow: none !important;
    }

    #topics ul {
        -webkit-column-count: 0;
        -moz-column-count: 0;
        column-count: 0;
    }

    #topics li {
        display: inline-block;
        width: 7.75em;
        float: left;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    #subtitle {
        font-size: 2em;
    }

    #title {
        -webkit-transition: 0s;
        -moz-transition: 0s;
        -o-transition: 0s;
        transition: 0s;
        font-size: 4em;
    }

    #about {
        display: inherit;
        background-position: right bottom, right top;
        background-size: 20%, 50%;
    }

    #about p {
        -webkit-transform: rotate(16deg) translate(22em, 8em) scale(2);
        -ms-transform: rotate(16deg) translate(22em, 8em) scale(2);
        -moz-transform: rotate(16deg) translate(22em, 8em) scale(2);
        -o-transform: rotate(16deg) translate(22em, 8em) scale(2);
        transform: rotate(16deg) translate(22em, 8em) scale(2);
    }

    #content {
        width: 35em;
    }

    nav a {
        color: #FFEDDB;
    }

    article,
    section,
    footer {
        width: 33em;
    }

    footer {
        padding-left: 1em;
        padding-right: 1em;
    }
}

@media screen and (max-width:480px),
(max-device-width:480px) {
    nav {
        display: none;
    }

    body {
        font-size: 75%;
    }

    #title {
        font-size: 3em;
    }

    #content {
        width: 30em;
    }

    article,
    section,
    footer {
        width: 28em;
    }

    #about p {
        -webkit-transform: rotate(7deg) translate(10em, 8em) scale(1.5);
        -ms-transform: rotate(7deg) translate(10em, 8em) scale(1.5);
        -moz-transform: rotate(7deg) translate(10em, 8em) scale(1.5);
        -o-transform: rotate(7deg) translate(10em, 8em) scale(1.5);
        transform: rotate(7deg) translate(10em, 8em) scale(1.5);
    }

    #topics li {
        padding: 0.4375em;
    }

    #topics li p {
        font-size: 0.8125em;
    }
}

@media screen and (min-width:801px) {
    #title:hover {
        color: #FFFFFF;
        opacity: 1;
        -moz-transform: scale(1.25);
        -ms-transform: scale(1.25);
        -o-transform: scale(1.25);
        -webkit-transform: scale(1.25);
        transform: scale(1.25);
    }
}

/*#endregion */