body {
    background-color: azure;
}

.text-primary {
    color: yellowgreen !important;
}

.image {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.bg {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    height: 400px;
    background-size: cover;
    background-position: center center;
    text-align: center;
}